*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

body{
    background-color: rgb(34, 2, 89);
}

.inputBox{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 400px auto;
    width: 80%;
    max-width: 500px;
    background: white;
    outline: 0;
}
.inputBox input{
    /* border: hidden; */
    margin: 20px 15px;
    padding: 10px 0;
    width: 80%;
    height: 50px;
    font-size: 20px;
    

}
.inputBox img{
    width: 40px;
    padding: 0 5px;
    cursor: pointer;
}